service: restaurant

provider:
  name: aws
  runtime: nodejs6.10
  stage: prod
  region: us-east-1
  environment:
    NODE_ENV: ${self:provider.stage}

custom:
  # auth_arn: some_arn
  # usage: ${self:custom.authorize_arn}, use this replace all hardcoded arn below

functions:
  optionsHandle:
    handler: handlers/httpOptionsHandlers.handle
    events:
      - http:
          path: /{any+}
          method: options
          cors: true

  helloworld:
    handler: handlers/general.helloworld
    events:
      - http:
          path: helloworld
          method: get
  postSignUp:
    handler: handlers/postSignUp.handle
    events:
      - cognitoUserPool:
        pool: arn:aws:cognito-idp:us-east-1:570666313840:userpool/us-east-1_2eDOjYE5q
        trigger: PostConfirmation

  lex:
    handler: handlers/lex.handle
    events:
      - http:
          path: lex
          method: post
  lexBot:
    handler: handlers/lexBot.handle
    events:
      - http:
          path: lexBot
          method: post
